@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

button,
a {
  all: unset;
}

main {
  margin: 50px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 25px;
}

.entryForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 35px;
}

.formLabel {
  letter-spacing: -0.1px;
}

.formInput {
  height: 1.8rem;
  border: none;
  outline: 1px solid black;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  padding: 0px 8px;
}

.submitButton {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  align-self: center;
  background: black;
  color: white;
  height: 40px;
  border-radius: 6px;
  font-weight: 500;
}

hr {
  margin-bottom: 35px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.entry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.entryList {
  display: flex;
  flex-direction: column;
}

.entryList > li:nth-child(even) {
  background: ghostwhite;
}

.entryPart {
  display: flex;
  padding: 8px;
  border-radius: 6px;
}

.fa-circle-xmark {
  cursor: pointer;
}
